/* GLOBAL CSS RULES STARTS HERE */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");

:root {
	--purple: #ae2bff;
	--gray: rgba(145, 36, 212, 0.03);
	--gray-light: #fdfdfd;
}

@font-face {
	font-family: "GilmerRegular";
	src: url("./fonts/Gilmer_Font/GilmerRegular.eot");
	src: url("./fonts/Gilmer_Font/GilmerRegular.eot?#iefix") format("embedded-opentype"),
		url("./fonts/Gilmer_Font/GilmerRegular.svg#GilmerRegular") format("svg"),
		url("./fonts/Gilmer_Font/GilmerRegular.ttf") format("truetype"),
		url("./fonts/Gilmer_Font/GilmerRegular.woff") format("woff"),
		url("./fonts/Gilmer_Font/GilmerRegular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

body {
	margin: 0;
	font-family: "GilmerRegular", sans-serif !important;
	/* background-color: var(--gray-light) !important; */
	color: #636262;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
html {
	overflow-x: hidden;
}

/* Fonts */
.heading-font,
.heading {
	color: #3a0e55;
}

/* Inter font */
.inter-font {
	font-family: "Inter", sans-serif;
}

/* Text */
.text-justify {
	text-align: justify;
}
.muted-text {
	color: #b1b0b0;
}

/* Colors */
/* gray background color */
.bg-gray {
	background-color: var(--gray);
}
.bg-light-gray {
	background-color: var(--gray-light);
}

/* Forms */
.form-label {
	color: #121010;
}
*:focus {
	box-shadow: none !important;
	border-color: #ced4da !important;
}
.form-control::placeholder {
	color: #d0d0d0 !important;
}
.form-control:-ms-input-placeholder {
	color: #d0d0d0 !important;
}
.form-control::-ms-input-placeholder {
	color: #d0d0d0 !important;
}
.phone-input .input-group-text,
.upload-docs .input-group-text {
	background-color: #fff !important;
}
.phone-input .form-control {
	border-left: none !important;
	padding-left: 0;
}
.pwd-toggle .input-group-text {
	border-left: none !important;
	background-color: #fff !important;
	cursor: pointer;
}
.btn.disabled,
.btn:disabled,
fieldset:disabled {
	background-color: #e5e5e5 !important;
	color: #b1b0b0;
	opacity: 1 !important;
}

/* Links */
a:link {
	text-decoration: none;
}

/* Mobile view (sm)*/
@media (max-width: 575.98px) {
	.form-control,
	.form-select,
	button {
		font-size: 0.8rem !important;
	}
}

/* GLOBAL CSS RULES ENDS HERE  */

/* Footer Section Starts Here */
.user-small-font {
	font-size: 19px;
}

.footer-font {
	font-family: "GilmerRegular", sans-serif;
}

.footer-bg {
	background-color: #ae2bff;
	left: 0;
	bottom: 0;
	right: 0;
}

.footer-text-color {
	color: #fdfdfd;
}

.eazy-footer {
	font-family: "GilmerRegular";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 21px;
}

.footer-icon-size {
	height: 25px;
	width: 25px;
}

.footer-icon-margin {
	margin: 0 30px;
}
.vertical-padding-icon {
	padding: 20px 0;
}

.footer-vertical-padding {
	padding: 80px 0;
}

.footer-bottom-padding {
	padding-bottom: 20px;
}

/* footer media-querry */
@media (max-width: 780px) {
	.eazy-footer {
		font-size: 12px;
	}

	.footer-icon-margin {
		margin: 0 20px;
	}

	.footer-icon-size {
		height: 20px;
		width: 20px;
	}

	.footer-icon-size2 {
		height: 30px;
		width: 30px;
	}
}

@media (max-width: 450px) {
	.footer-top-margin {
		margin-top: 30px;
	}

	.footer-bottom-padding {
		padding-bottom: 10px;
	}

	.back_to_top {
		position: relative;
		bottom: -285px;
		right: 50px;
	}

	.back_to_top2 {
		position: relative;
		bottom: -261px;
		right: 110px;
	}
}

@media (max-width: 380px) {
	.back_to_top {
		right: 40px;
	}

	.back_to_top2 {
		right: 100px;
	}
}

@media (max-width: 330px) {
	.back_to_top {
		right: 10px;
	}

	.back_to_top2 {
		right: 70px;
	}
}
/* Footer Section Ends Here */

/* Sidebar Starts Here */
.menu {
	background-color: #ae2bff;
	width: 260px;
}

.menu .flex-column .nav-link {
	display: flex;
	align-items: center;
	color: #fdfdfd;
	font-size: 14px;
	padding: 5px 0;
	margin: 0 35px;
}

.menu .flex-column .nav-link:hover {
	background-color: #fdfdfd;
	color: #ae2bff;
	transition: all 0.5s;
}
.dashboard {
	overflow-y: scroll;
	overflow-x: hidden;
}

.dashboard-mobile {
	z-index: 2;
	padding-bottom: 60px;
}

.dash-btn {
	width: 150px;
}

.Dash-font {
	font-size: 60px;
}

.side-height {
	height: 1000px;
	background-color: #ae2bff;
	overflow: hidden;
}

/* .side-btn {
	background-color: #ae2bff;
	color: #fdfdfd;
	border-radius: 5px;
	padding-top: 8px;
	padding-bottom: 8px;
	width: 180px;
} */

@media screen and (min-width: 992px) {
	.main-content,
	.layout-outlet {
		margin-left: 260px;
	}
}

@media screen and (max-width: 992px) {
	.menu {
		width: 100%;
	}
	.dashboard-mobile {
		width: 100%;
		padding-top: 40px;
	}

	.space-on-mobile {
		padding-top: 20px;
	}
}

/* SideBar Ends Here */

/* Searchbar starts here */
.bg-eazy {
	background-color: #ae2bff;
}

.user-dasboard-bg {
	background-color: #fdfdfd;
}

.search-icon {
	height: 20px;
	width: 30px;
	position: absolute;
	left: 450px;
}

.user-img-icon {
	width: 35px;
	height: 35px;
	border-radius: 50%;
}
.form-control:focus,
.btn-primary:focus,
.user-dashboard-content2 .btn-primary:focus,
.user-dashboard-content3 .btn-primary:focus {
	border-color: #ae2bff !important;
}

@media (max-width: 780px) {
	.user-searchbar {
		margin-top: 25px;
	}
}
@media (max-width: 450px) {
	.user-searchbar .navbar-brand {
		width: 250px;
	}

	.search-icon {
		left: 210px;
	}
}

@media (max-width: 380px) {
	.user-searchbar .navbar-brand {
		width: 180px;
	}

	.search-icon {
		left: 180px;
	}
}
/* Searchbar Ends here */

/* User dasboard Content starts here */
.user-name-font {
	font-family: "GilmerRegular";
  font-weight: 700;
}
.width-100 {
	width: 100%;
}
.overflow-width {
	width: 45%;
}
.user-dash-color {
	color: #3a0e55;
}

.user-dashboard-content .user-btn-bg {
	background-color: #e5e5e5 !important;
}

.user-dashboard-content .btn-primary {
	color: #b1b0b0;
	border-color: #e5e5e5;
}

.user-dashboard-loan .user-btn-loan{
	background-color: #AE2BFF !important;
}
.user-dashboard-loan .btn-primary {
	color: #fdfdfd;
	border-color: #AE2BFF;
}
.user-dash-box-bg {
	background-color: rgba(145, 36, 212, 0.03);
}

.user-dashboard-content6 .user-btn-bgd2 {
	background-color: rgba(232, 250, 31, 0.3);
	color: #8a8989;
	width: 200px;
}

.user-dashboard-content6 .btn-primary:hover {
	color: #8a8989;
	background-color: rgba(232, 250, 31, 0.3) !important;
	cursor: default;
}

.user-dashboard-content2 .user-btn-bg2,
.user-dashboard-content5 .btn-primary {
	background-color: #b1b0b0 !important;
	color: #fff;
	border-color: #e5e5e5;
	width: 100px;
}

.user-dashboard-content3 .btn-primary {
	color: #ae2bff;
	border-color: #ae2bff;
	background-color: #e5e5e5;
	/* background-color: var(--gray); */
}

.user-dashboard-content3 button {
	background: #fdfdfd;
	color: #ae2bff;
	border-color: #ae2bff;
}

.user-dashboard-loan .btn-primary:hover{
	background-color: #3a0e55 !important;
	color: #fdfdfd;
}
.user-dashboard-content2 .btn-primary:hover {
	background-color: #b1b0b0 !important;
	color: #fff;
	border-color: #e5e5e5;
	cursor: default;
}

.user-dashboard-content .btn-primary:hover,
.user-dashboard-content5 .btn-primary:hover {
	border-color: #ae2bff !important;
	background-color: #b1b0b0;
}

.user-dashboard-content3 .btn-primary:hover {
	border-color: #3a0e55 !important;
	background-color: #b1b0b0;
	color: #3a0e55;
}

.user-dashboard-content3 button:hover {
	background: #fdfdfd;
	color: #ae2bff;
	border-color: #ae2bff;
	cursor: default;
}

.user-dashboard-content8 .user-btn-bgd8 {
	background-color: rgba(19, 255, 57, 0.3);
	color: #8a8989;
}

.user-dashboard-content8 .btn-primary:hover {
	color: #8a8989;
	background-color: rgba(19, 255, 57, 0.3) !important;
	cursor: default;
}

.user-card {
	background-color: var(--gray) !important;
}

.card-padding {
	padding-top: 32px;
}

.user-loan-status {
	font-size: 12px;
	color: #121010;
	background: #fdfdfd;
	box-shadow: 0px 4px 5px rgba(145, 36, 212, 0.03);
	border-radius: 8px;
	width: 570px !important;
}

.user-business {
	color: #121010;
	background: #fdfdfd;
	box-shadow: 0px 4px 5px rgba(145, 36, 212, 0.03);
	border-radius: 8px;
	height: 80px;
	width: 440px;
}

.user-biz-font {
	font-size: 12px;
}

.user-biz-font2 {
	font-size: 13px;
}

.user-btn-margin {
	margin-left: 90px;
}

.user-current-loan {
	font-size: 20px;
	color: #3a0e55;
	margin-left: 300px;
	margin-top: 20px;
	margin-bottom: 10px;
}

@media (max-width: 1030px) {
	.user-card {
		width: 9rem !important;
		height: 9rem !important;
		font-size: 14px;
	}

	.user-dashboard-content6 .row {
		flex-direction: column;
	}

	.user-dashboard-content8 .row {
		flex-direction: column;
	}
	.user-business {
		width: 277px;
	}

	.user-btn-margin {
		margin-left: 0px;
	}

	.user-current-loan {
		margin-left: 143px;
		margin-top: 5px;
		margin-bottom: 0px;
	}
}

@media (max-width: 780px) {
	.user-card {
		margin-left: 50px;
		width: 12rem !important;
		height: 10rem !important;
		font-size: 16px;
	}
	.user-business {
		width: 295px;
	}

	.user-current-loan {
		margin-left: 155px;
	}
}

@media (max-width: 450px) {
	.user-card {
		width: 14rem !important;
		margin-left: 100px;
	}

	.user-business {
		width: 320px;
	}

	.user-current-loan {
		margin-left: 180px;
	}
}

@media (max-width: 380px) {
	.user-card {
		margin-left: 80px;
	}

	.user-business {
		width: 270px;
	}

	.user-current-loan {
		margin-left: 135px;
	}
}

@media (max-width: 330px) {
	.user-card {
		margin-left: 50px;
	}

	.user-business {
		width: 220px;
	}

	.user-dashboard-content6 .user-btn-bgd2 {
		width: 150px;
	}

	.user-loan-status {
		font-size: 10px;
	}

	.user-dashboard-content8 .user-current-loan {
		font-size: 15px;
		margin-left: 105px;
	}
}
/* User dasboard Content Ends here */

/* User dasboard Profile Starts here */
.user-profile-font {
	color: #3a0e55;
	font-size: 15px;
}

.profile-flex {
	display: flex;
}

.profile-pading {
	padding-left: 12px !important;
}

.profile-img {
	width: 250px;
	height: 250px;
	border-radius: 50%;
	background: none;
}

.fixed_body {
	overflow: hidden;
	block-size: 100%;
}

.profile-section-one .btn-primary,
.profile-section-two .btn-primary {
	color: #ae2bff;
	border-color: #ae2bff;
}

.profile-section-one .btn-primary {
	background-color: rgba(145, 36, 212, 0.03);
}

.profile-section-two .btn-primary {
	background-color: #fdfdfd;
}

.profile-small-font {
	font-size: 14px;
	color: #121010;
}

.profile-mid-font {
	font-size: 18px;
	color: #121010;
}

.profile-section-two .card {
	background: rgba(145, 36, 212, 0.03);
	border-radius: 8px;
}

.scroll-bar {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 600px;
}

@media (max-width: 1030px) {
	.profile-img {
		width: 150px;
		height: 150px;
	}

	.profile-mid-font {
		font-size: 15px;
	}
}

@media (max-width: 780px) {
	.profile-img {
		width: 200px;
		height: 200px;
	}

	.profile-mid-font {
		font-size: 12px;
	}

	.profile-small-font {
		font-size: 10px;
	}
}

@media (max-width: 450px) {
	.biz-profile-pad {
		margin-top: 25px;
	}

	.profile-mid-font {
		font-size: 15px;
	}

	.profile-small-font {
		font-size: 12px;
	}
}

@media (max-width: 325px) {
	.profile-img {
		width: 150px;
		height: 150px;
	}
}
/* User dasboard Profile Ends here */

