@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

:root{
  --purple: #AE2BFF;
  --gray: rgba(145, 36, 212, 0.03);
}

@font-face {
  font-family: 'GilmerRegular';
  src: url('./fonts/Gilmer_Font/GilmerRegular.eot');
  src: url('./fonts/Gilmer_Font/GilmerRegular.eot?#iefix') format('embedded-opentype'),
       url('./fonts/Gilmer_Font/GilmerRegular.svg#GilmerRegular') format('svg'),
       url('./fonts/Gilmer_Font/GilmerRegular.ttf') format('truetype'),
       url('./fonts/Gilmer_Font/GilmerRegular.woff') format('woff'),
       url('./fonts/Gilmer_Font/GilmerRegular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'GilmerRegular', sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Acme font for headings, etc */
.heading-font{
  font-family: 'Acme', sans-serif;
  color: #3A0E55;
}

/* gray background color */
.bg-gray{
  background-color: var(--gray);
}